<div id="container">
	<p id="name">TURKVIKTOR</p>
</div>

<style>

	#container{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-direction: column;
		height: 100%;
	}

	#name {
		font-size: 200px;
		animation: color-cycle 4s steps(4) infinite;
	}

	@keyframes color-cycle {
		0%,
		24.999% {
			color: #ffed4d;
		}
		25%,
		49.999% {
			color: #ff5155;
		}
		50%,
		74.999% {
			color: #5982ff;
		}
		75%,
		100% {
			color: #ab52ff;
		}
	}

	@media screen and (max-width: 1100px) {
		#name {
			font-size: 120px;
		}
	}

	@media screen and (max-width: 699px) {
		#name {
			font-size: 55px;
		}
	}
</style>
